body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
}

.frame {
  width: 600px;
  height: 400px;
  background: #ddd;

  border: 8px solid red;

  box-shadow:
    0 0 0 8px yellow,
    0 0 0 16px #999,
    0 0 0 24px #444,
    0 0 20px rgba(0,0,0,0.6);

  padding: 20px;
  box-sizing: border-box;
}
